header{
    background: #BBBB
}
 
nav li{
    display: inline;
    margin: 0 0 0 15px;

}
 nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav{
    position: absolute;
    top: 110px;
    left: 740px;
}
.produtos li{
    display: inline-block;
    margin: 0 0 0 100px;
    text-align: center;
    
}
.produtos{
    width: 9400px;
    margin: 0 auto;
}