header{
    background: #a0a0a0
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}
nav a:hover{
    color: rgb(231, 98, 9);
    text-decoration: underline;
}
nav{
    position: absolute;
    top: 110px;
    right: 0px;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    /*background: gray;*/
    margin: 0 5px;
    padding: 50px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto; 
}
.produtos h2{
    font-size: 20px;
    font-weight: bold;
}
.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}
.produto-descricao{
    font-size: 18px;
}
.produtos li:hover{
    border-color: rgb(132, 0, 255);
    background-color: rgb(221, 221, 221);
}
.produtos li:active{
    border-color: rgb(214, 11, 11); 
}
.produtos li:hover h2{
    font-size: 30px;
}
footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}
.copyright {
    color: rgb(255, 255, 255);
    font-size: 13px;
}
main{
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px;
}
form label, form legend{
    font-size: 20px;
    display: block;
    margin: 0 0 10px;
}
.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

/*
p{
    color: blue;
}

form p{
    color: red;
}

.teste{
    color: pink;
}
p.teste{
    color: green;class="teste" id="teste"
}
#teste{
    color: #a0a0a0class="temhx8zT_BPE3kXMste" id="teste";
}
class="teste" id="teste" ta no p qual horario. contato.html

*/

.enviar{
    width: 40%;
    padding: 15px 0;
    background: rgb(165, 70, 70);
    color: black;
    border-radius: 5px ;
    font-weight: bold;
    font-size: 18px;
    border: none;
    transition: 1s all;
    cursor: pointer;
    
}

.enviar:hover{
    background: rgb(226, 182, 182) ;
    transform: scale(1.2);
    /*transform: rotate(73748378470deg);*/
}
table{
    margin: 20px 0 40px;
  
  }
  thead{
      background: #55555555;
      color: white;
      font-weight: bold;
  }
  td{
      border: 1px solid black;
      padding: 8px 10px;
  }

.banner{
    width: 100%;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
}